@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  max-width: 500px;
  min-height: 85vh;
  margin: 25px auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.private-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.login {
  display: flex;
  flex-direction: column;
}

.login-brand {
  margin-bottom: 20px;
}

.login-brand img {
  max-width: 100%;
  height: auto;
}

.input-user, .input-password {
  margin: 8px 0;
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.button-login {
  width: 100%;
  margin: 16px 0;
  padding: 12px;
  background-color: #1155CB;
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.header {
  display: grid;
  grid-template-rows: 60% 1fr;
  margin-bottom: 15px;
  background: #1E509A;
  color: #fff;
  height: 155px;
  line-height: 1.2;
}

.header-row-1 {
  margin-left: 30px;
  align-self: end;
}

.header-row-2 {
  margin: 7px 10px;
  align-self: end;
  justify-self: end;
}

.search-wrapper {
  margin-bottom: 20px;
}

.search-inputs {
  display: flex;
  align-items: center;
  border: 1px solid #767676;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.input-search {
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
  border: none;
}

.input-search::-webkit-input-placeholder {
  font-size: 15px;
}

.input-search:focus {
  outline: none;
}

.search-icon {
  color: #767676;
}

.close-icon {
  color: red;
}

.btn-clear {
  cursor: pointer;
}

.data-result {
  min-height: 100px;
  padding: 8px;
  border: 1px solid #767676;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
}

/* .data-result::-webkit-scrollbar {
  display: none;
} */

.inventario-section {
  height: 320px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.inventario-section::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.item h3 {
  font-size: 1vw;
  font-weight: 600;
}

.item p {
  font-size: 12px;
}

.item-cantidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-cantidad p {
  font-size: 24px;
  font-weight: 600;
}

.text-asesor {
  font-size: 30px;
  font-weight: 600;
}

.text-bodega {
  font-size: 28px;
  font-weight: 600;
}

.text-producto-xl {
  font-size: 22px;
  font-weight: 600;
}

.text-producto-md {
  font-size: 16px;
  font-weight: 600;
}

.text-bodega-lotes {
  font-size: 12px;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  text-align: center;
}

.footer-logout-text {
  font-size: 11px;
  font-weight: 200;
  cursor: pointer;
}

.footer-creator-text {
  font-size: 13px;
}

.plus-icon, .home-icon {
  color: #1E509A;
}

@media(max-width: 768px) {
  .inventario-section {
    height: 430px;
  }
}

@media(min-width: 1920px) {
  .inventario-section {
    height: 570px;
  }
}
